#hidelocation,#hideprice,#showlocation,#showprice{
  color: blue;
  cursor: pointer;
}

#searchcondition{
  width : 14%;
}

#btn-danger{
  background-color: red;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font: 14px 'Open Sans', sans-serif;
}

.search-multiple {
  width: 20%;
  padding: 10px 15px;
  border: 2px solid #ffb000;
  outline: none;
  background: rgba(0,0,0,.2);
  font: 14px 'Open Sans', sans-serif;
  box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.2);
}

.search-term {
  width: 80%;
  padding: 10px 15px;
  border: 2px solid #ffb000;
  border-radius: 20px;
  outline: none;
  background: rgba(0,0,0,.2);
  font: 14px 'Open Sans', sans-serif;
  color: #fff;
  box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.2);
}

.search-term:focus {
  color: white;
  background: rgba(0,0,0,.4);
}

.search-term::placeholder {
  color: white;
}

.search-button {
  margin-left: -50px;
  right: 500px;
  width: 20%;
  min-width: 100px;
  padding: 12px;
  background: #ffb000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font: 14px 'Open Sans', sans-serif;
  box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.2);
}

.search-all {
  width: 16%;
  min-width: 100px;
  padding: 12px;
  background: #ffb000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font: 14px 'Open Sans', sans-serif;
  box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.2);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.item{
  color: black;
  font-size: 24px;
  font-family: 'sans-serif';
}

.list {
  color: grey;
  font-size: 18px;
  font-family: 'serif';
}

#more-details{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#newpage{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#more-details:hover, #newpage:hover {
  opacity: 0.7;
}

.search-mulitple{
  color : black;
  font-size : 20px;
}
/** Navigation details */

.navbar-default .navbar-brand{
  font-family: impact;
  font-size: 32px;
  color: white;
  margin-top:14px;
  border-color: #722872;
}
.navbar-default .navbar-brand:hover{
  color: white;
}
.navbar-default{
  background-color: #722872;
  height: 80px;
  box-shadow: 0px 2px 5px 0px #666;
}
.navbar-default .navbar-toggle{
  margin-top: 15px;
}
.navbar-default .navbar-toggle:hover{
  background-color: black;
}
.navbar-nav>li:hover{
  background-color: #722872;
  color:white;
  box-shadow: rgba(255,255,255,0.15) 0 0 5px;
}
ul.nav a{
  color: #fff !important;
}
ul.nav a:hover {
  color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar:hover{
  background-color: white;
}
.navbar-nav>ul{
  padding-top: 10px;
  background-color: #722872;
  margin: 0 auto;
}
.navbar-default .navbar-nav> li > a{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #722872;
 }

.navbar-nav>li{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-top: 19px;
  border-radius: 5px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #722872;
}

.navbar {  border: none!important; }

.dropdown-menu>li>a:hover{
  background-color: #722872;
  box-shadow: rgba(255,255,255,0.15) 0 0 5px;
}

#btn-danger{
  background-color: red;
}
